@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;    
}

:root{
    --dark-blue:#1E3B64;
    --white:#fff;
    --red:hsl(355, 79%, 50%);
    --red-square:#901012;
    --blue-square:#0F3B68;

}
.politica-privacidade{
    margin-left:2rem;
}
.container{
    width:85%;
    margin:0 auto;
    max-width:65rem;
    padding-left:0rem;
}

h1{
    text-align: center;
}
.left-margin{
    margin-left:2rem;
}
.secondary-title{
    font-weight: bold;
    font-size:1.5rem
}
p{
    margin-bottom:1rem;
}
/*NavBar*/
/*logo*/
.header__logo{
    margin-top:1rem;
    height: 100px;
    width: 150px; 
}

.header__logo img{
    width:100%;
    height:auto;
}

.header__logo--left {
    font-weight:bold;
    color:var(--red);
    text-align: right;
    margin-top: -1rem;
}


.header__logo--center{
    text-align: center;
    white-space: nowrap;
    font-size:.8rem;
    margin-top:.5rem;
}
/*NavBar*/
.header__nav{
    background:var(--dark-blue);
    padding:.3rem 0rem;
}

.header__nav--list{
    list-style: none;
    display:flex;
    justify-content: flex-start;
}

.header__nav--links{
    display:block;
    text-decoration: none;
    color:var(--white);
    padding:.5rem 1rem;
    margin-right: .8rem;
    font-weight: bold;
}

.header__nav--links:hover{
    color:var(--red);
}

.header__nav--social a{
 display:inline-block;
 text-decoration: none;
 color:var(--white);
 margin-left:1rem;
}

.header__nav--social{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:20px;
    
}

.header__nav--social a:hover{
    color:var(--red);
   }


/*Footer*/

footer{
    background:hsl(210, 100%, 18%);
    padding-bottom:2rem;
    padding-top:2rem;
    color:white;
    font-size: .8rem;
}

.footer-social a,.footer-center a{
    text-decoration: none;
    color:white;
}

.footer-container {
    display:flex;
    justify-content: space-between;
    padding:.8rem;
    align-items: center;
}

.footer-social a{
    margin-left:.5rem;

}

.footer-left p{
    margin-top:.5rem;
}

.menu-icon{
    position:absolute;
    right:50px;
    font-size:32px;
    top:35px;
    cursor:pointer;
    opacity: 0;
    transition:all .3s ease;
}
.menu-icon:hover{
    transform: scale(1.1);
    color:#1E3B64;
}

@media (max-width:760px){
    .footer-container{
        flex-direction: column;
        text-align: center;
    }
    .footer-center{
        margin-top:1rem;
    }

    .footer-social{
        margin-top:1rem;
    }

}

@media (max-width:768px){
    .container{
        width:95%;
    }
    .main__body--skills-container{
        grid-template-columns: 1fr;
    }

    .witness__container{
        grid-template-columns: 1fr;
    }

    .witness__container--item{
        margin-bottom: 1rem;
    }

    .main__container{
        grid-template-columns: 1fr;
    }

    .aside__content-video{
        min-height:300px;
        width:100%;
    }

}

.close-btn{
    opacity:0;
}


@media (max-width:634px){
    .menu-icon{
        opacity: 1;
    }
    .header__nav{
        position:fixed;
        padding:0;
        margin:0;
        width:100%;
        transform: translatex(100%);
        z-index:10;
        transition:all .3s ease;
    }
    .header__nav--list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        position:relative;
        margin:0 auto;
        padding-top:2rem;
        padding-bottom:2rem;
        
    }
    .close-btn{
        opacity:1;
        color:white;
        position:absolute;
        cursor: pointer;
        font-size: 2rem;
        display:block;
        top:0;
        right:20px;
        padding:.5rem;
        font-weight: bolder;
    }
    .close-btn:hover{
        color:red;
    }
    .header__nav--item{
        width:100%;
        text-align: center;
        
    }
    .header__nav--links:hover{
        background:hsl(210, 75%, 43%);
    }
    .header__nav--links{
        display:block;
        cursor:pointer;
        margin:0;

    }
    .header__nav--social{
        margin:0 auto;
        margin-top:1rem;
        
            
    }
}

.show-sidebar {
    transform: translate(0);
  }